<h1>Select The APIs</h1>

  <h4>API 1 (Wholesaler details)- localhost:4010/api/1/[number between 1-100]</h4>
  <h4>API 2 (Retailer With single WholeSalers)- localhost:4010/api/2</h4>
  <h4>API 3 (Monthly turnovers)localhost:4010/api/3</h4>
  <h4>API 4 (Max turnovers)localhost:4010/api/4</h4>